{{ define "head" }}
<script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "{{.Site.Params.meta.name}}",
      "alternateName" : ["ঐশিক", "ঐশিক রেহমান", "Aishik", "Oishik Rehman", "Oishik"],
      "url" : "{{ absLangURL ""}}",
      "potentialAction": [{
        "@type": "SearchAction",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ absLangURL ""}}/search?q={search_term_string}"
        },
        "query-input": "required name=search_term_string"
      }]
    }
</script>
{{ end }}

{{ define "main" }}



{{/* Hero */}}
<section class="container my-5">
    <div class="row align-items-center py-5 px-3 px-md-0">
        <div class="col-lg-7">
            <h1 class="display-4 text-body-emphasis">Bangla WikiConnect is a collaborative initiative...</h1>
            <p class="lead">...focused on enhancing and expanding Wikipedia’s content in Bengali. Through a variety of engaging
                contests, edit-a-thons, and training programs, we aim to develop high-quality, inclusive content on
                Wikipedia and its sister projects such as Wikiquote, Wikivoyage, Wikibooks, and Wiktionary.
            </p>
            <div>
                <a type="button" href="/about/" class="btn btn-primary btn-md px-4 me-md-2 fw-bold">Know More</a>
                <a type="button" href="https://meta.wikimedia.org/wiki/Bangla_WikiConnect" class="btn btn-outline-secondary btn-md px-4">Go to Wikipage</a>
            </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 ">
            <img class="rounded-lg-3"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f8/Bangla_WikiConnect_Proposed_Logo_01_-_BN.svg/290px-Bangla_WikiConnect_Proposed_Logo_01_-_BN.svg.png?20250301212148"
                alt="" width="720">
        </div>
    </div>
</section>

{{/* Hero Carousel */}}
<section class="bg-green-5 position-relative overflow-hidden" id="homeHero">
    <div class="container py-10">
        <div class="carousel slide" data-interval="5000" data-bs-ride="carousel" id="QuoteCarousel">
            <ul class="carousel-indicators">
                {{ $lang := .Site.Language.Lang }}
                {{ $quotes := index .Site.Data.quotes $lang }}
                {{ range $index, $quote := $quotes }}
                <li data-bs-slide-to="{{ $index }}" data-bs-target="#QuoteCarousel"
                    class="{{ if eq $index 0 }}active{{ end }}"></li>
                {{ end }}
            </ul>
            <div class="carousel-inner">
                {{ range $index, $quote := $quotes }}
                <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
                    <figure class="text-center">
                        <blockquote class="blockquote fs-3 fw-bold">{{ $quote }}</blockquote>
                        <figcaption class="blockquote-footer text-light">{{ i18n "aishik" }}</figcaption>
                    </figure>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>

{{/* Projects */}}
{{/*  <section class="container py-5">
    <h2 class="text-center mb-5 fw-bold">প্রকল্পসমূহ</h2>
    <div class="row pb-5 gap-3">
        <a class="col-12 d-block col-md-4 p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd8oeF5tlu1qlCS0_M5bZsJiZchCgzFqmNpw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wiki Loves Children</h3>
            :Team :Edition : Rules : Meta : Prizes: Statistics
        </a>
        <a class="col-12 d-block col-md-4 p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq5-7SdBGbsGO_TGr8TvKHbDe3HlAhXagRmQ&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wikibooks Writing Contest</h3>
        </a>
        <a class="p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d6/Wikiquote-logo-en.svg/1200px-Wikiquote-logo-en.svg.png"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wikiquote Writing Contest</h3>
        </a>
        <a class="col-12 d-block col-md-4 p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd8oeF5tlu1qlCS0_M5bZsJiZchCgzFqmNpw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wiki Loves Children</h3>
        </a>
        <a class="col-12 d-block col-md-4 p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd8oeF5tlu1qlCS0_M5bZsJiZchCgzFqmNpw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wiki Loves Children</h3>
        </a>
        <a class="p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9KExh2Q9Jh-N64bda61VNSNrseoBPiLuwFw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wikiquote Writing Contest</h3>
        </a>
        <a class="col-12 d-block col-md-4 p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd8oeF5tlu1qlCS0_M5bZsJiZchCgzFqmNpw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wiki Loves Children</h3>
        </a>
        <a class="col-12 d-block col-md-4 p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd8oeF5tlu1qlCS0_M5bZsJiZchCgzFqmNpw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wiki Loves Children</h3>
        </a>
        <a class="p-3 col rounded-3 border shadow-lg" href="#">
            <div class="mb-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9KExh2Q9Jh-N64bda61VNSNrseoBPiLuwFw&s"
                    style="height: 80px; width:auto;">
            </div>
            <h3 class="fs-2 text-body-emphasis">Wikiquote Writing Contest</h3>
        </a>

    </div>
</section>  */}}

{{/* <section class="container py-5">
    <div class="row row-cols-1 row-cols-sm-4 g-4">
        <div class="col">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#collection"></use>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">উইকি লাভস চিল্ড্রেন</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#gear-fill"></use>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">উইকি লাভস উইমেন</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#speedometer"></use>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">উইকি লাভস মনুমেন্টস</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>

        <div class="col">
            <div
                class="feature-icon-small d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-4 rounded-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#table"></use>
                </svg>
            </div>
            <h4 class="fw-semibold mb-0 text-body-emphasis">উইকি লাভস আর্থ</h4>
            <p class="text-body-secondary">Paragraph of text beneath the heading to explain the heading.</p>
        </div>
    </div>

</section> */}}

{{/* BlogPosts */}}
{{/*  <section id="homeContent" class="container">
    <div class="col-lg-9 m-auto py-5">
        <h2 class="text-center py-3">{{i18n "recentPosts"}}</h2>
        {{ $paginatedPages := .Paginate (where .Site.RegularPages "Type" "posts") }}
        {{ range $paginatedPages.Pages }}
        <article class="row border-bottom py-5">
            <div class="col-12 col-md-5">
                <h4 class="mb-0"><a class="fw-bold" href="{{.RelPermalink}}">{{ .Title }}</a></h4>
                {{ with .Params.date }}
                <span class="d-block fs-6 text-muted">{{ . | dateFormat "January 2, 2006" }}</span>
                {{ end }}
                <span class="d-block fs-6 text-muted">{{i18n "timetoread"}}: {{ .ReadingTime }} {{i18n
                    "mintues"}}</span>
                {{ with .Params.tags }}
                {{ range $index, $tag := . }}
                {{ if $index }},{{ end }}
                <a class="fs-6" href="{{ absLangURL " /tags/" }}{{ $tag | urlize }}">{{ partial "fn.title.html" $tag
                    }}</a>
                {{- end -}}
                {{ end }}
            </div>
            <div class="col-12 col-md-7 text-justify">
                {{ .Summary | truncate 400 }}
                {{ if .Truncated }}<a class="text-muted" href="{{ .RelPermalink }}">[{{i18n "readmore"}}]</a>{{ end }}
            </div>
        </article>
        {{ end }}
        <div class="d-flex row-center py-3">{{ template "_internal/pagination.html" . }}</div>
    </div>
</section>  */}}

{{/* Our Porjects */}}
<section class="container py-5">
    <h2 class="text-center mb-5 fw-bold">আমাদের প্রকল্পসমূহ</h2>

    {{ $lang := .Site.Language.Lang }}
    {{ $projects := index .Site.Data.projects $lang }}
    {{ range $index, $project := $projects }}
    {{ if modBool $index 2 }}
    <hr>
    <div class="row py-5 my-5">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">{{ $project.name }}</h2>
            <div>started On: 01 Jan 2018; project status: active; upcoming: 2025; Team Co</div>
            <div>Links</div>
            <div>Edition</div>
            <p class="lead my-3">And yes, this is the last block of representative placeholder content. Again, not really
                intended to be actually read, simply here to give you a better view of what this would look like with
                some actual content. Your content.</p>
        </div>
        <div class="col-md-5">
            <img style="height: 200px; width: auto;" src="{{ $project.img }}" alt="">
        </div>
    </div>
    {{ else}}
    <hr>
    <div class="row py-5 my-5">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">{{ $project.name }}</h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this
                layout would work with some actual real-world content in place.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img style="height: 200px; width: auto;" src="{{ $project.img }}" alt="">
        </div>
    </div>
    {{end}}
    {{ end }}
</section>

{{/* Our Team */}}
<section class="container" id="TeamMembers">
    <h3 class="section__title cots__title text-center my-3">Our Team</h3>
    <div class="row">
        {{ $lang := .Site.Language.Lang }}
        {{ $cots := index .Site.Data.cot $lang }}
        {{ range $index, $cot := $cots }}
        <div class="col-lg-4 my-3 text-center fw-bold" id="{{ $cot.name }}">
            <div class="p-3 rounded-3 border shadow-lg">
                <div class="cots__avatar m-auto mb-3" style="width: 140px; height: 140px;">
                    <img width="100%" height="100%" style="object-fit: cover" class="rounded-circle"
                        src="{{ $cot.img }}" alt="{{ $cot.name }}" title="{{$cot.name}}">
                </div>
                <h3 class="cots__name fw-normal m-0">{{$cot.name}}</h3>
                <small class="d-block">
                    <a href="https://bn.wikipedia.org/wiki/User:{{ $cot.username }}">@{{ $cot.username }}</a>
                </small>
                <small class="cots__role">{{ $cot.role }}</small>
                <p><a class="btn btn-outline-primary mt-2" href="#">View details »</a></p>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{/* Facebook Feed */}}
<section class="container py-5">
    <h2 class="text-center mb-4 fw-bold">Facebook Feed</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            {{< facebook-feed >}}
        </div>
    </div>
</section>

{{/* Our Partners */}}
<section class="container my-5 text-center">
    <h2 class="my-5">Our Partners</h2>
    <div class="d-flex flex-wrap" style="justify-content: center; gap: 3rem">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Wikimedia_Foundation_logo_-_vertical.svg/512px-Wikimedia_Foundation_logo_-_vertical.svg.png"
            alt="Wikimedia Foundation" style="height: 60px; width:auto">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Wikimedia_Bangladesh_logo.svg/460px-Wikimedia_Bangladesh_logo.svg.png"
            alt="Wikimedia Bangladesh" style="height: 60px; width:auto">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/WikiNandini_text_logo_2024.svg/320px-WikiNandini_text_logo_2024.svg.png"
            alt="WikiNandini" style="height: 60px; width:auto">
        <!-- Add more partner logos -->
    </div>
</section>
{{ end }}
