{{ define "main" }}
<div id="project__header" style="background-image: url({{.Params.Cover}});
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff3cd;
    background-blend-mode: screen;">
  <div class="container py-5">
    <h1 class="display-4">{{.Params.Name}}</h1>
    <h5 class=" fw-bold">{{.Params.role}}</h5>
    <h5>
      <i class="bi bi-at me-1"></i><a href="https://bn.wikipedia.org/wiki/User:{{ .Params.username }}">{{
        .Params.username }}</a>
      {{ with .Params.email}}<i class="bi bi-envelope-at ms-2"></i><a class="ms-1" href="mailto:{{.}}">{{.}}</a>{{end}}
      {{ with .Params.location}} <i class="bi bi-geo-alt ms-2"></i> {{.}}{{end}}
    </h5>
    <p class="lead my-3">{{.Params.bio}}</p>
  </div>
</div>

<div class="container py-5">{{.Content}}</div>
<div class="container py-5">
  <h2>Blogs</h2>
  {{ $username := .Params.Username }}
  <ul>
    {{ range where (where .Site.RegularPages "Section" "posts" ) "Params.User" "=" $username }}
    <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end}}
  </ul>
</div>
{{ end }}